NODE_ENV="development"
PORT=3000

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=
DB_HOST=
DB_PORT=
DB_URL=

COOKIE_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
TEMP_TOKEN_SECRET=
EMAIL_TOKEN_SECRET=

UPSTASH_REDIS_URL=
REDIS_MAX_RETRIES=

RESEND_API_KEY=

NAME=Admiralty University of Nigeria Event Management System

ALLOWED_ORIGINS=