NODE_ENV="development"
PORT=3000

FRONTEND_URL=http://localhost:5173
FRONTEND_ORIGIN=http://localhost:5173
API_ORIGIN=http://localhost:3000

DB_NAME=adun_dev
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DIALECT=postgres
DB_HOST=db
DB_PORT=5432
DB_URL=postgres://postgres:postgres@db:5432/adun_dev

COOKIE_SECRET=change_cookie_secret
REFRESH_TOKEN_SECRET=change_this
ACCESS_TOKEN_SECRET=change_this_too
TEMP_TOKEN_SECRET=change_this_temp
EMAIL_TOKEN_SECRET=change_this_email
EVENT_TOKEN_SECRET=change_this_event

UPSTASH_REDIS_URL=redis://redis:6379
REDIS_MAX_RETRIES=3

RESEND_API_KEY=your_resend_api_key

NAME=Admiralty University of Nigeria Event Management System

ALLOWED_ORIGINS=*

DOMAIN=localhost

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
